
.rv-discrete-color-legend-item__title{
  font-size: 20px;
  font-weight: 700;
}

.ry-xy-plot{
  position: relative
}

.rv-hint{
  color: black;
  text-align: center;
}

.animated {
  animation-duration: 1s;
  /* animation-fill-mode: both;
  animation-iteration-count: 5; */
}

.correct{
  color: green;
  font-weight: 700;
  font-size: 30px;
}

.center-placeholder{
    text-align:center;
  }

.error-text{
  text-align: center;
  font-size: 30px;
}

.icon-bubble{
  margin: 30px;
  background-color: #ffffff;
}

.ReactModal__Content--after-open{
  margin-left: 20%;
  width: 60%;
  margin-top: 10%;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #333333;
}

.reports-row:nth-child(even){
    background-color: lightblue;
}

.reports-row:nth-child(odd){
  background-color: lightgreen;
}

.round-img{
  border-radius: 50%;
  border: 2px solid #333333;
}

.round-img:hover{
  border: 2px solid #aaaaaa;
}

.video-link{
    margin-bottom: 15px;
}

.wrong{
  color: red;
  font-weight: 700;
  font-size: 30px;
}


/* Center Placeholders */
 .center-placeholder::-webkit-input-placeholder {
    text-align: center;
  }
  
  .center-placeholder:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
  }
  
  .center-placeholder::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
  }
  
  .center-placeholder:-ms-input-placeholder {  
    text-align: center; 
  }
  
  
